* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html{
  padding: 0 30px;
}

html, body{
  /* width:100vw;
  height:100vh;
  overflow: hidden; */
  overflow-x: hidden;
  overscroll-behavior-x: none;
}

body{
  /* width:100vw; */
  overflow-x: hidden;

  font-family: Outfit, sans-serif;
}

body{
  position: static;
  
}

/* html{
  padding: 0 20%;
} */

/* .home-screen,
.material-library-container,
.material-scroll,
.brick-div,
.material-popup{
  max-width: 54vh;
  overflow: hidden;
} */

a{
  color: inherit;
  text-decoration: none;
  pointer-events: auto;
}

.header {
  position: sticky;
  /*content: ' ';*/
  margin-top: 4.5vh;
  margin-bottom: 1.1vh;
  width: 100%;
  height: 4vh;
  /* background-color: red; */
  pointer-events: auto;
  z-index: 50;
}

.header-logo{
  position: absolute;
  left:0;
  top:50%;
  translate: 0 -50%;
  font-size: 3vh;
  font-weight: 900;
}

.header-logo-blue,
.header-logo-blue-top,
.header-logo-blue-bot{
  color: #59B8F0;
  mix-blend-mode: multiply;
  translate: 0 -50%;
  transition: translate 0.3s;
}

.header-logo-red,
.header-logo-red-top,
.header-logo-red-bot{
  color: #EA3E3E;
  mix-blend-mode: multiply;
  translate: 0 -50%;
  transition: translate 0.3s;
  z-index: 100;
  pointer-events: all;
}

.header-profile{
  position: absolute;
  top:50%;
  right:12%;
  translate: 0 -50%;
  aspect-ratio: 1 / 1;
  height:80%;
  width:auto;
  border-radius: 6px;
  background-color: #000;
}

.header-profile-blue,
.header-profile-blue-top,
.header-profile-blue-bot{
  background-color: #59B8F0;
  mix-blend-mode: multiply;
  translate: 0 -50%;
  transition: translate 0.3s;
}

.header-profile-red,
.header-profile-red-top,
.header-profile-red-bot{
  background-color: #EA3E3E;
  mix-blend-mode: multiply;
  translate: 0 -50%;
  transition: translate 0.3s;
}

.header-profile svg{
  position: absolute;
  top:50%;
  left:50%;
  translate: -50% -50%;
}

.header-menu{
  position: absolute;
  top:52%;
  right:5px;
  translate: 0 -50%;
  aspect-ratio: 1.25 / 1;
  height:50%;
  width: auto;
  display:inline-flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 1% 0; */
}

.header-menu-red,
.header-menu-blue,
.header-menu-red-top,
.header-menu-blue-top,
.header-menu-red-bot,
.header-menu-blue-bot{
  mix-blend-mode: multiply;
  translate: 0 -50%;
  transition: translate 0.3s;
}

.header-menu-blue .menu-line,
.header-menu-blue-top .menu-line,
.header-menu-blue-bot .menu-line{
  background-color: #59B8F0;
}

.header-menu-red .menu-line,
.header-menu-red-top .menu-line,
.header-menu-red-bot .menu-line{
  background-color: #EA3E3E;
}

.header-menu-select{
  position: fixed;
  top:50%;
  left:0;
  translate: 0 -50%;
  height:0%;
  width:100%;
  background-color: #000;
  z-index: 100;
  transition: all 0.3s ease;
  pointer-events: none;
}

.header-cbox{
  position: fixed;
  top:5vh;
  right: 30px;
  translate: 2.5% 20%;
  aspect-ratio: 1.25 / 1;
  height:3vh;
  width: auto;
  opacity: 0;
}

.header-cbox:checked ~ .header-menu-select{
  height:100%;
}

.menu-line{
  position: relative;
  width:100%;
  height:calc(100%  / 6);
  background-color: #000;
  border-radius: 50px;
}

 .material-scroll > .mat-btn{
  position: relative;
  display: inline-flex;
  margin-right: 1vw;
  border: 0.4vh solid #000;
  width: 40vw;
  /* max-width: 120px; */
  height: 4.5vh;
  align-items: center;
  padding: 0 2vw;
  border-radius: 6px;
  background-color: #fff;
  transition: all 0.1s ease-in-out;
}

.material-scroll{
  /* pointer-events: none; */
  position: absolute;
  width: 100vw;
  left:0;
  padding-left: 30px;
  /* background-color: yellow; */
  /* --- */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  /* --- */
}

.mat-scroll-bg{
  position: sticky;
  width:100%;
  height:100%;
  background-color: yellow;
}

.mat-scroll-fade{
  position: fixed;
  top: 9.6vh;
  right:0;
  height:4.5vh;
  width:25%;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 25% ,  rgba(255, 255, 255, 0.85) 40% ,rgba(255, 255, 255, 0));
}

.material-scroll::-webkit-scrollbar{
  display: none;
}

.mat-scroll-radio{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  opacity: 0;
  z-index: 1;
}

.mat-scroll-bg{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  background-color: transparent;
  border-radius: 4px;
  z-index: 0;
}

.mat-scroll-div, .icon-svg{
  transition: all 0.1s ease-in-out;
  position: relative;
  z-index: 0;
}

.mat-scroll-radio:checked ~ .mat-scroll-bg{
  background-color: transparent;
}

.mat-scroll-radio:checked ~ .mat-scroll-div{
  color: #fff;
}

.mat-scroll-radio:checked ~ .icon-svg svg *{
  stroke: #fff;
  stroke-width: 9;
}

.mat-scroll-div{
  /* position: absolute;
  left: 5vh; */

  padding-left: 3.5vh;
  font-size: 2.2vh;
  font-weight: 600;

  /* background-color: yellow; */
  /* -------- */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* -------- */

}

.icon-svg{
  position: absolute;
  left: 0.2vh;
  height: 4vh;
  width: 4vh;
  /* background-color: red; */
  z-index: 0;
}

.icon-svg svg{
  position: absolute;
  height: 65%;
  width: 65%;
  top:50%;
  left:50%;
  translate: -50% -50%;
}

.icon-svg svg *{
  stroke: #000;
}

/* ---------------------- */

.none{
  display: none;
}

.brick-div{
  position: fixed;
  bottom: 0;
  left: 0;
  width:100%;
  height: 82.5%;
  /* background-color: firebrick; */
}

.all-mat-div{
  position: absolute;
  height:82.5vh;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;

  scroll-snap-type: y mandatory;
  scroll-padding: 0px;
}

.all-mat-div .brick-divs{
  margin-top: -1vh;
  margin-bottom: 5vh;
  /* width: 125%; */
  scroll-snap-align: start;
}

.brick-divs{
  opacity: 0.5;
  scale: 0.8;
  transform-origin: top left;
  transition: all 0.3s ease-in-out;
}

/* .brick-divs .div-text{} */

.brick-divs .div-container{
  scale: 1;
  transform-origin: top left;
  transition: scale 0.3s ease-in-out;
}



.all-mat-div .brick-divs:last-child{
  margin-bottom: 50vh;
}

.div-text{
  margin-left: 30px;
  margin-top: -6px;
  margin-bottom: 6px;
  font-size: 3.5vh;
  font-weight: 800;
}

.div-container{
  /* position: absolute; */
  position: relative;
  height:35vh;
  width:100vw;
  /* background-color: yellow; */

}

.div-scroll .mat-00{
  display: inline-flex;
}

.div-scroll{
  position: absolute;
  top:0;
  left:0;
  width:125%;
  height:100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.div-scroll::-webkit-scrollbar{
  display: none;
}

.new-div{
  position: relative;
  width:200px;
  height:200px;
  background-color: red;
}

.mat-left{
  background-color: #000;
  border-radius: 0 20px 20px 0;
  position: absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
  width: 20px;
  height: 39vh;
  transition: 0s;
}

.top-border{
  position: absolute;
  top:0;
  height:2vh;
  /* border: 5px solid #fff; */
  width:100%;
  background-color: #fff;
  border-radius: 0 0 0 100%;
}

.bot-border{
  position: absolute;
  bottom:0;
  height:2vh;
  /* border: 5px solid #fff; */
  width:100%;
  background-color: #fff;
  border-radius: 100% 0 0 0;
}

.mat-00{
  position: relative;
  width:55vw;
  height:100%;
  background-color: #fff;
  color: #000;
  margin-left: 10px;
  /* margin-right: 10px; */
  border-radius: 10px;
  border: 0.5vh solid #000;
  padding: 5%;
}

.mat-00:last-child{
  margin-right: 50vw;
}

.div-focused{
  scale: 1;
  transform-origin: top left;
  transition: all 0.3s ease-in-out;
}

.div-focused .mat-00{
    background-color: #000;
    color: #fff;
}

.div-focused .mat-div-img svg *{
    stroke: #fff;
}

.div-focused .mat-div-button{
    color: #000;
    background-color: #fff;
    pointer-events: auto;
}

/* .div-focused .div-text{
  scale: 1;
  /* transform-origin: left;
}

.div-focused .div-container{
  scale: 1;

} */

.div-focused{
  opacity: 1;
}

/* .div-focused:not(:focus) .div-container,
.div-focused:not(:focus) .div-text{
  transform-origin: top left;
  scale: 0.8;
} */

/* ---------------------- */

.mat-div{
  position: relative;
  /* background-color: rgba(255, 0, 0, 0.1); */
  width: 100%;
  height:100%;
}

.mat-div-button{
  position: absolute;
  width:100%;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  height:14.5%;
  font-size: 2.2vh;
  font-weight: 700;
  border-radius: 6px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  pointer-events: none;
}

.mat-div-name{
  position: absolute;
  font-size: 2.3vh;
  font-weight: 700;
  left:0;
  bottom: 15%;
}

.mat-div-svg svg{
  position: absolute;
  height: 100%;
  right: 0;
}

.mat-div-svg{
  position: absolute;
  bottom: 15%;
  width: 50%;
  height:9%;
  right: 0;
}

.mat-div-svg > p{
  position: absolute;
  right: 27.5%;
  font-size: 2vh;
  font-weight: 400;
  color: #808080;
  top:45%;
  transform: translateY(-50%);
}

.mat-div-img{
  position: absolute;
  width:100%;
  height: 60%;
  /* background-color: red; */
  top:35%;
  translate: 0 -50%;
}

.mat-div-img svg{
  position: absolute;
  width: 100%;
  height: 100%;
}

.mat-div-img svg *{
    stroke: #000;
}

.mat-div-img img{
  /* justify-content:  */
  position: absolute;
  aspect-ratio: 1 / 1;
  width:140%;
  left:50%;
  top:45%;
  translate: -50% -50%;
  height:auto;
  /* max-width: 150%;
  max-height: 100%; */
}


/* ---------------------- */

#material-popup:target .animation-transition{
  /* pointer-events: auto; */
  animation-name: anim-transition;
  animation-duration: 2.5s;
  /* opacity: 1; */
}

@keyframes anim-transition {
  0%{
    border-radius: 30px;
    scale:0.8;
    opacity: 0;
  }

  10%{
    border-radius: 0px;
    scale:1;
    opacity: 1;
  }

  90%{
    border-radius: 0px;
    scale:1;
    opacity: 1;
  }

  100%{
    border-radius: 30px;
    scale:0.8;
    opacity: 0;
  }
}

.animation-transition{
  position: absolute;
  top: 0;
  left: 0;
  scale:0.8;
  opacity: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  overflow: hidden;
  border-radius: 30px;
}

.animation-bg-svg{
  position: absolute;
  left:48.5%;
  top:48%;
  translate: -50% -50%;
  /* aspect-ratio: 2 / 1; */
  width:75%;
  max-width: 400px;
}

.class-above-red {
  position: absolute;
  left:49%;
  top:49%;
  translate: -50% -50%;

  mix-blend-mode: multiply;
}

.class-above-red path,
.class-above-red circle,
.class-above-red ellipse{
  stroke: #EA3E3E;
}

.class-above-red rect{
  fill: #EA3E3E;
}

.class-above-blue {
  position: absolute;
  left:51.2%;
  top:50.8%;
  translate: -50% -50%;

  mix-blend-mode: multiply;
}

.class-above-blue path,
.class-above-blue circle,
.class-above-blue ellipse{
  stroke: #59B8F0;
}

.class-above-blue rect{
  fill: #59B8F0;
}

.animation-monkey-svg{
  /* background-color: red; */
  position: absolute;
  left:44%;
  top:-10%;
  translate: -50% -50%;
  width:40%;
  rotate: 0deg;
  transform-origin: bottom;
  animation-name: monkey;
  animation-duration: 1s;
  /* animation-timing-function: ease-in-out; */
  animation-iteration-count: infinite;
}

.animation-arm-svg{
  /* background-color: rgba(255, 0, 0, 0.2); */
  position: absolute;
  left:67.5%;
  top:75.8%;
  width:50%;
  translate: -50% -50%;
  transform-origin: 25% 8%;
  rotate: 10deg;
  animation-name: monkey-arm;
  animation-duration: 1s;
  /* animation-timing-function: ease-in-out; */
  animation-iteration-count: infinite;
}

.monkey-red{
  left:43.5%;
  top:-10.5%;
  mix-blend-mode: multiply;
}

.monkey-red path{
  stroke:#EA3E3E;
}

.monkey-blue{
  left:44.5%;
  top:-9%;
  mix-blend-mode: multiply;
}

.monkey-blue path{
  stroke:#59B8F0;
}

@keyframes monkey-arm {
  10%{
    rotate: 10deg;
  }

  65%{
    rotate: -100deg;
  }

  90%{
    rotate: 10deg;
  }
}

@keyframes monkey {
  10%{
    rotate: 0deg;
  }

  75%{
    rotate: 0deg;
  }

  85%{
    rotate: -3deg;
  }

  95%{
    rotate: 0deg;
  }
}

.box{
  position: absolute;
  left:25%;
  translate:-50% -50%;
  top:8%;
  width: 10px;
  height: 10px;
  /* background-color: rgba(0, 255, 0, 0.25); */
}

.animation-bg-svg svg,
.animation-monkey-svg svg,
.animation-arm-svg svg{
  width:100%;
  height:100%;
}

.bg-svg-shadow{
  filter: blur(20px);
}

.animation-spark{
  position: absolute;
  left:65%;
  top:27%;
  translate:-55% -40%;
  rotate: 35deg;
  width:15vw;
  max-width: 80px;
  height:10vw;
  max-height: 54px;
  scale: 60%;
  /* background-color: red; */
  display: inline-flex;
  justify-content: space-between;
  animation-name: spark-div-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.spark-line{
  width:10%;
  height:70%;
  border-radius: 100px;
  background-color: #000;
  transform-origin: top;
  scale: 100% 100%;
  animation-name: spark-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.spark-line:nth-child(1),
.spark-line:nth-child(3){
  width: 7%;
  height: 55%;
  translate: 0 80%;
}

.spark-line:nth-child(1){
  rotate:-25deg;
}

.spark-line:nth-child(3){
  rotate:25deg;
}

@keyframes spark-animation {
  0%{
    scale: 100% 0%;

  }

  64.999%{
    scale: 100% 0%;
  }

  65%{
    scale: 100% 100%;
  }

  100%{
    scale: 100% 0%;

  }
}

@keyframes spark-div-animation {
  0%{
  translate: -55% -40%;

  }

  64.999%{
  translate: -55% -40%;
  }

  65%{
  translate: -55% -40%;
  }

  100%{
  translate:-30% -80%;
  }
}


.m-popup-text{
  position: absolute;
  bottom:20.5%;
  left:50%;
  width: 100%;
  font-size: 4vh;
  font-weight: 800;
  translate:-50% 50%;
  text-align: center;
}

.loading-dots{
  position: absolute;
  bottom:11%;
  left:50%;
  width: 12%;
  translate:-50% 50%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
}

.dot{
  aspect-ratio: 1/1;
  height: 8px;
  opacity: 0;
  background-color: #333;
  border-radius: 5px;
}

.loading-dots .dot{
  animation-name: dot-loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.dot:nth-child(1){
  animation-delay: 0.175s;
}

.dot:nth-child(2){
  animation-delay: 0.355s;
}

.dot:nth-child(3){
  animation-delay: 0.525s;
}

@keyframes dot-loading {
  0%{
    opacity: 0;
    scale: 0.7;
  }

  50%{
    opacity: 1;
    scale: 1;
  }

  100%{
    opacity:0;
    scale: 0.7;
  }
}

.circle-bg{
  translate: 0 0;
  animation-name: circle-hit;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes circle-hit {
  10%{
    translate: 0 0;
  }

  75%{
    translate: 0 0;
  }

  85%{
    translate: 0 0.35%;
  }

  95%{
    translate: 0 0;
  }
}

/* ---------------------- */

#material-popup:target .selected-material{
  animation-name: select-mat;
  animation-duration: 1s;
  animation-fill-mode: both;
  pointer-events: auto;
}

#material-popup:not(:target) *{
  pointer-events: none;
}

#material-popup:not(:target) .selected-material .material-properties *{
  pointer-events: none;
}

@keyframes select-mat {
  0%{
    opacity: 0;
  }

  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.selected-material{
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  background-color: #fff;
  width:100vw;
  min-height: 100%;
  /* height:auto; */
  pointer-events: none;
  overflow-x: hidden;
  padding: 0 30px;
}

/* .selected-material-container{
  position: fixed;
  width: 100%;
  height:100%;
  padding: 0 30px;
  overflow-x: hidden;
} */

.material-image-container{
  margin-top: 1vh;
  width: 100%;
  height: 29.5vh;
  
  /* background-color: red; */
  position: relative;
  transition: height 0.3s ease-in-out;
}

.container-fade-left{
  position: absolute;
  left:0;
  top:0;
  height:100%;
  width:50px;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.container-fade-right{
  position: absolute;
  right:0;
  top:0;
  height:100%;
  width:50px;
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}

.material-image-slider{
  position: relative;
  width:100%;
  height:100%;
  background-color: #fff;
  /* --------- */
  overflow-x: scroll;
  white-space: nowrap;

  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  /* --------- */
}

.material-image-slider::-webkit-scrollbar{
  display: none;
}

.slider-image{
  scroll-snap-align: start;
  /* overflow-x: scroll; */
  display: inline-flex;
  /* flex-direction: row; */

  position: relative;
  width:100%;
  height:100%;
  opacity: 1;
}

.slider-image img,
.slider-image .img-default img{
  position: absolute;
  aspect-ratio: 1 / 1;
  width:85%;
  height:auto;
  top:45%;
  left:50%;
  translate: -50% -50%;
  transition: opacity 0.3s ease-in-out;
}

.img-default{
  position: absolute;
  aspect-ratio: 1 / 1;
  width:100%;
  top:51.5%;
  left:50%;
  translate: -50% -50%;
}

.img-new{
  scale: 0.86;
}

.img-top-1{
  mix-blend-mode: screen;
}

.img-top-2,
.img-top-3,
.img-top-4{
  mix-blend-mode: multiply;
}

/* .img-top-2{ */
  /* filter: brightness(1) contrast(1); */
  /* we want filter: brightness(0.85) contrast(1.8); */
/* } */

.img-top-3{
  filter: opacity(1);
}

.img-top-4{
  filter: hue-rotate(0deg) saturate(1);
}

.img-top-6,
.img-top-7{
  filter: opacity(0);
}

/* .image1{
  background-color:limegreen;
}

.image2{
  background-color: firebrick;
} */

.image3 img{
  width: 100%;
}

.image-slider-dots{
  position: absolute;
  width: 15%;
  height: 8px;
  bottom:6%;
  left:50%;
  translate: -50% -50%;
  /* background-color: yellow; */
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 5; */
}

.image-slider-dots div{
  opacity: 0.3;
  height: 5px;
  transition: all 0.3s;
}

.material-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-name{
  margin-top: 0.7vh;
  font-size: 4.2vh;
  font-weight: 800;
}

.material-nodes{
  color: #808080;
  margin-top: -0.7vh;
  font-size: 2.1vh;
  font-weight: 800;
}

.material-download{
  /* max-height: 10vh; */
  position: relative;
  max-width: 12.5vw;
  min-width: 5vh;
  width: 100%;
  height:100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 100%;
  cursor: pointer;
}

.material-download svg{
  width: 50%;
  height: 50%;
}

.download-icon-red,
.download-icon-blue{
  position: absolute;
  mix-blend-mode: screen;
}

.download-icon-red{
  translate: -8% -10%;
}

.download-icon-blue{
  translate: 8% 10%;
}



/* -------------- */

.material-prop-desc{
  position: absolute;
  height: 45.5vh;
  left:0;
  bottom:0;
  width:100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  transition: height 0.3s ease-in-out;
}

.material-prop-desc::-webkit-scrollbar{
  display: none;
}

.mat-prop-fade{
  scroll-snap-align: start;

  position: sticky;
  top:0;
  left:0;
  width:100%;
  height:2.5vh;
  z-index: 5;
  pointer-events: none;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 10) 0%, rgba(255, 255, 255, 0));
}

.material-properties{

  /* justify-content: center; */
  position: relative;
  left:50%;
  width: 80%;
  margin-top: -1vh;
  background-color: #fff;
  padding: 0;
  border-radius: 12px;
  translate: -50% 0;
  transition: all 0.3s;
  /* overflow: hidden; */
}

.material-properties::before{
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  translate:var(--matPropBefore, 0% 0%);
  content: ' ';
  background-color: #EA3E3E;
  z-index: -2;
  transition: 0.8s;
  border-radius: 12px;
}

.material-properties::after{
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  content: ' ';
  background-color: #59B8F0;
  z-index: -3;
  translate:var(--matPropAfter, 0% 0%);
  transition: 0.8s;
  border-radius: 12px;
}

.mat-property{
  background-color: rgba(255, 255, 255, 1);
  pointer-events: none;
  position: relative;
  display: flex;
  padding: 2vh;
  height:7vh;
  width:100.4%;
  translate: -1px -1px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  border: 0.5vh solid #000;
  border-top: none;
  /* border-radius: 12px 12px 0 0; */
}

/* .material-properties > .mat-property{
  border-radius: 20px;
  
} */

.mat-property:first-of-type{
  border: 0.5vh solid #000;
  border-radius: 12px 12px 0 0;
}

.mat-property:last-of-type{
  border-radius: 0 0 12px 12px;
}

.mat-property{
  scroll-snap-align: start;
}

.mat-property-1{
  scroll-snap-align: end !important;
}

.mat-property svg{
  rotate: 0deg;
  transition: all 0.3s;
}

/* .mat-prop-expand{ */
  /* margin-top: -7vh; */
/* } */

.mat-property:not(:last-child){
  border-bottom: 0.5vh solid #000;
}

.mat-property:last-child{
  height:6.5vh;
}

.mat-prop-text{
  user-select: none;
  font-size: 3.2vh;
  font-weight: 700;
}

.mat-prop-symbol{
  margin-top: 0.75vh;
  /* background-color: red; */
}

.mat-prop-plus{
  /* margin-top: 0.75vh; */
  font-size: 4vh;
  pointer-events: none;
  user-select: none;
  font-weight: 600;
  scale: 105% 100%;
}

.mat-prop-values{
  /* position: absolute; */
  /* align-self: center; */
  /* height:10%; */
  background-color: #000;
  display: none;
  width:100.4%;
  translate: -1px -1px;
}

.mat-prop-cbox{
  background-color: red;
  float: right;
  width:100%;
  height:7vh;
  /* margin-top: -7vh; */
  /* margin-right:0; */
  /* translate: 0% 0%; */
  display: block;
  z-index: 1;
  pointer-events: auto;
  opacity: 0;
  margin-bottom: -7vh;
}

.mpc-1:checked ~ .mpv-1,
.mpc-2:checked ~ .mpv-2,
.mpc-3:checked ~ .mpv-3{
  display: block;
  /* height: 10vh; */
}

.mpc-1:checked + .mat-property,
.mpc-2:checked + .mat-property,
.mpc-3:checked + .mat-property{
  background-color: #000;
  color: #fff;
}

.mpc-1:checked + .mat-property path,
.mpc-2:checked + .mat-property path,
.mpc-3:checked + .mat-property path{
  fill: #fff;
  stroke: #fff;
}

.mpc-1:checked + .mat-property svg,
.mpc-2:checked + .mat-property svg,
.mpc-3:checked + .mat-property svg{
  rotate: 180deg;
}

.mat-prop-val{
  position: relative;
  padding: 0 2vh;
  height:5.5vh;
  /* background-color: red; */
}

.mat-prop-val:last-child{
  box-sizing: content-box;
  padding: 0;
  border-bottom: 1vh solid #000;
  background-color: #000;
}

.mat-val-text{
  color:#fff;
  position: absolute;
  top:50%;
  translate: 0 -50%;
  font-size: 2.1vh;
  font-weight: 600;
  left:2vh;
}

.mat-val-range-slider{
  position: absolute;
  top:50%;
  width:40%;
  translate: -50% -50%;
  left:65%;
  /* background-color: rgba(255, 255, 255, 0.25); */
}

.range-slider-back{
  position: absolute;
  right:0;
  top:50%;
  translate: 0% -50%;
  height:30%;
  /* min-width:10%; */
  width:50%;
  border-radius: 50px;
  background: linear-gradient(to right, rgb(51, 51, 51), rgb(26,26,26));
}

.range-slider-front{
  position: absolute;
  left:0;
  top:50%;
  translate: 0% -50%;
  height:30%;
  /* min-width:10%; */
  width:50%;
  border-radius: 50px;
  background-color:#fff;
}

.mat-val-range-value{
  position: absolute;
  top:50%;
  translate: 0% -50%;
  right:2vh;
  color: #777;
}

.mat-val-range::-webkit-slider-runnable-track{
  background-color: transparent;
  border-radius: 40px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000101;
}

.mat-val-range {
  border-radius: 0px;
  /* position: absolute;
  top:50%;
  translate: 0 -50%;
  height:100%; */
  width:100%;
  -webkit-appearance: none;
  appearance:none;
  background-color: transparent;
  translate: 0 12.5%;
  /* margin: 10px 0; */
}

.mat-val-range::-webkit-slider-thumb{
  height: 10px;
  width: 10px;
  scale: 140%;
  border-radius: 10px;
  background: #000;
  border: 0.4vh solid #fff;
  box-sizing: content-box;
  cursor: pointer;
  -webkit-appearance: none;
  /* margin-top: -3.6px; */
}

/* -------------- */



.material-description::before{
  width: 100%;
  height: 100%;
  content: ' ';
  position: absolute;
  top:0;
  left:0;
  background-color: #EA3E3E;
  z-index: -2;
  border-radius: 25px 25px 0 0;
  translate:var(--matDescBefore, 0% 0%);
  transition: 0.8s;
}

.material-description::after{
  width: 100%;
  height: 100%;
  content: ' ';
  position: absolute;
  top:0;
  left:0;
  background-color: #59B8F0;
  z-index: -3;
  border-radius: 25px 25px 0 0;
  translate:var(--matDescAfter, 0% 0%);
  transition: 0.8s;
}

.material-description{
  scroll-snap-align: start;
  position: relative;
  margin-top: 4.5vh;
  padding: 32px;
  border-radius: 25px 25px 0 0;
  width: 100vw;
  /* width: calc(100% + 62px); */
  /* translate: -31px 0; */
  /* height:40vh; */
  height: 100%;
  /* z-index: 7; Apparently having z index will remove
  the background colour like huh*/
  background-color: #000;
}

.mat-desc{
  color: #fff;
  font-size: 3.2vh;
  font-weight: 600;
}

.mat-desc-fade{
  position: sticky;
  bottom:-2px;
  left:0;
  height: 8vh;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 255), rgba(0, 0, 0, 0));
}

.mat-desc-container{
  position: absolute;
  padding: 0 30px;
  width:100%;
  top: 9vh;
  left: 50%;
  translate: -50% 0%;
  height: 80%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.mat-desc-container::-webkit-scrollbar{
  display: none;
}

.mat-desc-texts{
  position: relative;
  scroll-snap-align: start;
  color: #fff;
  /* margin-top: 2vh; */
  font-size: 2.2vh;
  line-height: 2.8vh;
  height: auto;
  transition: all 0.3s ease-in-out;
}

/* .mat-desc-text-bg{
  position: relative;
  display: block;
  width:50vw;
  height:100%;
  background-color: red;
  transition: height: 0.3s ease-in-out;
}

.mat-desc-text-bg div{
  position: absolute;
  width:100%;
  height:100%;
  background-color: yellow;
} */

.mat-desc-arrows{
  margin-top: 2vh;
  display: inline-flex;
  justify-content: space-between;
  width:18%;
}

.mat-desc-arr-l{
  rotate: 90deg;
  scale: 0.8;
  cursor: pointer;
}

.mat-desc-arr-r{
  rotate: -90deg;
  scale: 0.8;
  cursor: pointer;
}

.mat-desc-images{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.mat-desc-images div{
  scroll-snap-align: start;
  border-radius: 20px;
}

.mat-desc-img{
  overflow: hidden;
  background-color: #393939;
  position: relative;
  width: 100%;
  height: 30vh;
}

.mat-desc-img img{
  position: absolute;
  top:50%;
  translate: 0 -50%;
  max-width: 100%;
  max-height: 100%;
  height:auto;
  width:auto;
}

/* ----------------------- */

.material-dl-popup{
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #000;
  bottom:0;
  left:0;
  translate: 0 0%;
  /* padding: 2vh 5%; */
  border-radius: 12px 12px 0 0;
}

.material-dl-decision{
  /* position: absolute;
  bottom:0;
  left:0; */
  padding: 2vh 5%;
}

.mat-dl-decision-text{
  line-height: 120%;
  color: #fff;
  font-size: 3.2vh;
  font-weight: 600;
  text-align: center;
}

.mat-dl-decision-buttons{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin: 2vh 0 1.5vh 0;
}

.mat-dl-decision-yes,
.mat-dl-decision-no{
  width: 46%;
  height: 5vh;
  /* background-color: red; */
  font-size: 2.5vh;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mat-dl-decision-yes{
  background-color: #fff;
  color: #000;
  font-weight: 800;
}

.mat-dl-decision-no{
  background-color: transparent;
  border: solid 0.4vh #fff;
  color: #fff;
  font-weight: 500;
}

.display-none-property{
  display: none !important;
}

.display-none{
  animation-name: displayNone;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
}

@keyframes displayNone {
  0%{
    translate: 0 0%;
    display: block;
  }

  95%{
    translate: 0 100%;
    display: block;
  }
  
  96%{
    translate: 0 100%;
    display: none !important;
  }
  
  100%{
    translate: 0 0%;
    display: none !important;
  }
}

.material-dl-downloading{
  pointer-events: none;
  display: block;
}

.mat-dl-downloading-text{
  color: #fff;
  font-size: 3.2vh;
  font-weight: 600;
  text-align: center;
  padding: 3vh 0 5vh 0;
}

.mat-dl-downloading-text:before{
  content: 'Downloading';
  animation: downloadText 3.8s 3s 1 forwards;
  opacity: 1;
  transition: all 0.3s;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes downloadText {
  0%{
    content: 'Downloading';
    opacity: 1;
  }

  86%{
    content: 'Downloading';
    opacity: 1;
  }
  90%{
    content: 'Downloading';
    opacity: 0;
  }
  
  94%{
    content: 'Finished Download';
    opacity: 0;
  }

  99%,
  100%{
    content: 'Finished Download';
    opacity: 1;
  }
}

.mat-dl-check{
  background-color: #fff;
  position: absolute;
  top:50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 1;
  height:26vh;
  scale: 1;
  aspect-ratio: 1 / 1;
  clip-path: polygon(6% 51%, 17% 39%, 38% 60%, 83% 16%, 94% 28%, 38% 82%);
  animation: firstKeyframes 1s cubic-bezier(0.75, 0, 0.25, 1) 6s backwards;
  
  /* animation-name: firstKeyframes;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1); */
  
  
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  transition: all 0.3s;
  /* clip-path: polygon(83% 16%, 83% 16%, 83% 16%, 83% 16%, 94% 28%, 94% 28%); */
  /* clip-path: polygon(6% 51%, 17% 39%, 17% 39%, 17% 39%, 6% 51%, 6% 51%); */
}

.mat-dl-check-red,
.mat-dl-check-blue{
  position: absolute;
  top:50%;
  left: 50%;
  opacity: 1;
  height:26vh;
  scale: 1;
  aspect-ratio: 1 / 1;
  mix-blend-mode: screen;
  clip-path: polygon(6% 51%, 17% 39%, 38% 60%, 83% 16%, 94% 28%, 38% 82%);
}

.mat-dl-check-red{
  animation: firstKeyframes 1s cubic-bezier(0.75, 0, 0.25, 1) 6s backwards, secondKeyframes 1s cubic-bezier(0.75, 0, 0.25, 1) 7.5s forwards;
  translate: -46% -38%;
  background-color: #EA3E3E;
}

.mat-dl-check-blue{
  translate: -40% -55%;
  background-color: #59B8F0;
  animation: firstKeyframes 1s cubic-bezier(0.75, 0, 0.25, 1) 6.2s backwards, secondKeyframes 1s cubic-bezier(0.75, 0, 0.25, 1) 7.7s forwards;
  /* animation: firstKeyframes 1s cubic-bezier(0.75, 0, 0.25, 1) 6s backwards, secondKeyframes 1s cubic-bezier(0.75, 0, 0.25, 1) 7.5s forwards; */
}

@keyframes firstKeyframes {
  0%{
    clip-path: polygon(6% 51%, 17% 39%, 17% 39%, 17% 39%, 6% 51%, 6% 51%);
  }
  
  50%{
    clip-path: polygon(6% 51%, 17% 39%, 38% 60%, 38% 60%, 49% 72%, 38% 82%);
  }
  
  100%{
    clip-path: polygon(6% 51%, 17% 39%, 38% 60%, 83% 16%, 94% 28%, 38% 82%);
  }
}

@keyframes secondKeyframes {
  0%{
    clip-path: polygon(6% 51%, 17% 39%, 38% 60%, 83% 16%, 94% 28%, 38% 82%);
  }
  
  50%{
    clip-path: polygon(27% 71%, 38% 60%, 38% 60%, 83% 16%, 94% 28%, 38% 82%);
  }

  100%{
    clip-path: polygon(83% 16%, 83% 16%, 83% 16%, 83% 16%, 94% 28%, 94% 28%);
  }
}

/* .mat-dl-check-2{
  opacity: 0.5;
  background-color: red;
  clip-path: polygon(83% 16%, 83% 16%, 83% 16%, 83% 16%, 94% 28%, 94% 28%);
} */

.check{
  position: absolute;
  top:50%;
  left:50%;
  translate: -50% -50%;
  scale: 0.9;
}

.mat-dl-arrow{
  /* position: absolute;
  top:50%;
  left:50%;
  translate: -50% 0%;  */
  position: relative;
  background-color: #fff;
  position: relative;
  left: 0;
  right: 0;
  height:20vh;
  scale: 0.9;
  margin: 0 calc(50% - 10vh);
  aspect-ratio: 1 / 1;
  clip-path: polygon(38.5% 60%, 38.5% 0, 61.5% 0, 61.5% 60%, 85% 35%, 100% 50%, 50% 100%, 0 50%, 15% 35%);
  /* clip-path: polygon(40% 70%, 40% 0, 60% 0, 60% 70%, 90% 50%, 100% 60%, 50% 100%, 0 60%); */
  animation: arrowOpac 4s ease-in-out 2s forwards;
  transition: clip-path 0.3s, translate 0.05s ease-in-out;
}

.mat-dl-arrow-red,
.mat-dl-arrow-blue{
  position: absolute;
  top:0;
  left:0;
  /* background-color: rgba(255, 0, 0, 0.1); */
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* mix-blend-mode: screen; */
  /* clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%); */
  
  mix-blend-mode: screen;
  animation-name: clipPathArrow;
  animation-delay: 1.8s;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  transition: all 0s;
}

@keyframes arrowOpac {
  90%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}


@keyframes clipPathArrow {
  0%,
  10%{
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
  }

  90%{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
    opacity: 1;
  }

  100%{
    opacity: 0;
  }

}


.mat-dl-arrow-r{
  background-color: #EA3E3E;
  /* mix-blend-mode: screen; */
  translate: 0% 0%;
}

.mat-dl-arrow-b{
  background-color: #59B8F0;
  /* mix-blend-mode: screen; */
  translate: 0% 0%;
}

.loading-dots-w{
  /* width: 12%; */
  /* margin: 0 22%; */
  /* translate:-50% 50%; */
  position: relative;
  width:100%;
  padding: 6vh 44% 4vh 44%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
}

.dot-w{
  aspect-ratio: 1/1;
  height: 8px;
  opacity: 0;
  background-color: #fff;
  border-radius: 5px;
}

.loading-dots-w .dot-w{
  animation-name: dot-loading;
  animation-duration: 1s;
  animation-iteration-count: 8;
}

.dot-w:nth-child(1){
  animation-delay: 0.175s;
}

.dot-w:nth-child(2){
  animation-delay: 0.355s;
}

.dot-w:nth-child(3){
  animation-delay: 0.525s;
}

@keyframes dot-loading-w {
  0%{
    opacity: 0;
    scale: 0.7;
  }

  50%{
    opacity: 1;
    scale: 1;
  }

  100%{
    opacity:0;
    scale: 0.7;
  }
}

/* Monke Tutorial */

.monke-tutorial-container{
  position: absolute;
  width:100vw;
  height:100%;
  top:0;
  left:0;
  overflow: hidden;
  pointer-events: none;
}

.monke-tutorial{
  overflow: hidden;
  position: absolute;
  width:100vw;
  height:100%;
  top:0;
  left:0;
  pointer-events:all ;
  background-color: rgba(0, 0, 0, 0.75);
  translate: 100% 0%;
}

.monke-text-animation{
  animation: monkeText 8s cubic-bezier(0.75, 0, 0.25, 1) 0s 1 forwards;
}

.monke-default{
  position: relative;
  left:0%;
  top:40%;
  translate: 0% -50%;
}

@keyframes monkeText {
  0%{
    translate: 100% 0%;
  }
  
  10%{
    translate: 0% 0%;
  }

  90%{
    translate: 0% 0%;
  }

  100%{
    translate: 100% 0%;
  }
}

.monke-default svg{
  position: absolute;
  left:65%;
}


.monke-default-red svg{
  position: absolute;
  top:0;
  left:65%;
  translate: -1.2% 0.2%;
  mix-blend-mode: multiply;
}

.monke-default-blue svg{
  position: absolute;
  top:0;
  left:65%;
  translate: 1.3% -0.2%;
  mix-blend-mode: multiply;
}

.monke-text-container{
  position: absolute;
  top:0;
  left:50%;
  translate: -50% -52%;
  border: 0.5vh solid #000;
  width: 80%;
  background-color: #D9D9D9;
  border-radius: 12px;
  font-weight: bold;
  font-size: 2.3vh;
  padding: 5% 6% 5% 6%;
}

/* ------- Home screen ------- */

.material-library:target{
  opacity: 1;
  pointer-events: auto;
  z-index: 100;
}

#material-library{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height:100vh;
  padding: 0 30px;
  background-color: #fff;
}

#material-library:not(:target){
  opacity: 0;
  pointer-events: none;
}

#material-library:not(:target) *{
  pointer-events: none;
}

.home-screen{
  position: absolute;
  left:0;
  top:0;
  padding: 0 30px;
  width:100vw;
  height:100%;
  overflow-x: hidden;
}

.home-screen-content-container{
  position: absolute;
  height: 90vh;
  width:100vw;
  margin:0;
  left:0;
  bottom: 0;
  overflow-y: scroll;
}

.home-mat-container{
  position: absolute;
  padding: 0 30px;
  left:50%;
  top:46vh;
  translate: -50% 0;
  /* height:45vh; */
  width:100vw;
  display: inline-flex;
  /* background-color: red; */
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2vh;
}

.home-mat-container .mat-00{
  padding:5% 3% 3% 3%;
  height:30vh;
  width: 49%;
  margin: 0 0 1vh 0;
  font-size: 50%;
}

.home-mat-container .mat-00 .mat-div{
  scale: 0.9;
}

.home-mat-container .mat-00 .mat-div .mat-div-name{
  font-size: calc(1.3vh + 1.2vw);
}

.home-mat-container .mat-00 .mat-div .mat-div-button{
  font-size: calc(1.4vh + 1.4vw);
}

.home-mat-container .mat-00 .mat-div p{
  font-size: calc(1.1vh + 1.1vw);
  right: 32%;
}

.home-mat-container .mat-00{
  overflow: hidden;
}

.welcome-1,
.welcome-2{
  text-align: center;
}

.welcome-1{
  margin-top: 2vh;
  font-weight: 800;
  font-size: 3.5vh;
}

.welcome-2{
  translate: 0 -1vh;
  font-weight: 900;
  font-size: 5vh;
  animation: animWelcomeP1 10s cubic-bezier(0.75, 0, 0.25, 1) infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* transition: all 0.3s ; */
}

@keyframes animWelcomeP1 {
  0%{
    translate: 0 -1vh;
  }
  
  30%{
    translate: 0 -1vh;
  }
  
  40%{
    translate: 0 0.75vh;
  }

  90%{
    translate: 0 0.75vh;
  }
  
  100%{
    translate: 0 -1vh;
  }
}

.home-desc{
  margin-top: 3.5vh;
  position: relative;
  left:0;
  width:100vw;
  height:27vh;
  padding: 8% 30px;
  font-size: 2.5vh;
  font-weight: 700;
  background-color: #e7e4fe;
  border: solid 0.5vh #000;
  border-radius: 12px;
  overflow: hidden;
  opacity: 1;
}

.home-desc-text{
  position: absolute;
  left:30px;
  top:50%;
  translate: 0 -50%;
  line-height: 3.2vh;
  width:30%;
}

.home-desc-image img{
  position: absolute;
  top:50%;
  right:0;
  translate:25% -50%;
  height:180%;

}

.mat-00 a{
  height:100%;
  width:100%;
}

/* ----- 3D Monkey Animation ----- */

.home-screen-anim{
  position: absolute;
  top:7vh;
  left:0;
  /* background-color: red; */
  /* animation: logoAnim 4s cubic-bezier( 0, 0, 0.5, 1) 1, logoAnim2 0.5s cubic-bezier( 0, 0, 0.5, 1) 4s 1, logoAnim3 5.5s cubic-bezier( 0, 0, 0.5, 1) 4.5s 1; */
  /* animation: logoAnim 5s cubic-bezier(0.75, 0, 0.25, 1) infinite; */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.home-screen-anim-frames{
  animation: logoAnim 4s cubic-bezier( 0, 0, 0.5, 1) 1, logoAnim2 0.5s cubic-bezier( 0, 0, 0.5, 1) 4s 1, logoAnim3 5.5s cubic-bezier( 0, 0, 0.5, 1) 4.5s 1;
}

@keyframes logoAnim {
  0%{
    left:0;
  }

  90%{
    left:0
  }

  100%{
    left:90%;
    translate: 0 0px;
  }
}

@keyframes logoAnim2 {
  0%{
    left:90%;
    translate: 0 0px;
  }

  50%{
    left:85%;
    translate: 0 -2vh;
  }

  100%{
    left:82%;
    translate: 0 0px;
  }
}

@keyframes logoAnim3 {
  0%{
    left:82%;
    translate: 0 0px;
  }

  50%{
    left:50%;
    translate: 57.5% 0px;
  }

  100%{
    left:50%;
    translate: 57.5% 0px;
  }
}



.line{
  position: fixed;
  width:10px;
  height:100vh;
  left:50%;
  top:0;
  translate: -50% 0;
  background-color: red;
  z-index: 10000;
}

.logo-material,
.logo-cap,
.logo-monkey{
  position: absolute;
  top:0;
  left:0;
}

.logo-material{
  width:7vh;
  height:7vh;
  /* animation: logoMat1 4s cubic-bezier( 0, 0, 0.5, 1) 1, logoMat2 0.5s cubic-bezier( 0, 0, 0.5, 1) 4s 1, logoMat3 5.5s cubic-bezier( 0, 0, 0.5, 1) 4.5s 1 forwards; */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.logo-material-frames{
  animation: logoMat1 4s cubic-bezier( 0, 0, 0.5, 1) 1, logoMat2 0.5s cubic-bezier( 0, 0, 0.5, 1) 4s 1, logoMat3 5.5s cubic-bezier( 0, 0, 0.5, 1) 4.5s 1 forwards;
}

@keyframes logoMat1 {
  90%{
    rotate:0deg;
  }

  100%{
    rotate:480deg;
  }
}

@keyframes logoMat2 {
  0%{
    rotate:480deg;
  }

  100%{
    rotate:470deg;
  }
}

@keyframes logoMat3 {
  0%{
    rotate:470deg;
  }

  20%{
    opacity: 1;
  }

  60%{
    opacity: 0;
    rotate:200deg;
  }

  100%{
    opacity: 0;
    rotate:200deg;
  }
}



.logo-cap{
  width:6.5vh;
  height:6.5vh;
  /* animation: logoCap 10s cubic-bezier( 0, 0, 0.5, 1) 1; */
}

.logo-cap-frames{
  animation: logoCap 10s cubic-bezier( 0, 0, 0.5, 1) 1;
}

@keyframes logoCap {
  0%{
    rotate:0deg;
  }
  
  39%{
    rotate:0deg;
    translate: -8% -8%;
  }
  
  40%{
    rotate:100deg;
    translate: 18% -10%;
  }

  70%{
    rotate:42deg;
    translate: 0% -22%;
  }
  
  100%{
    rotate:42deg;
    translate: 0% -22%;
  }
}

/* .logo-monkey *{
  stroke: red;
} */

.logo-monkey{
  width: 8.9vh;
  height: 8.9vh;
  translate: -10.5% -10%;
  mix-blend-mode: multiply;
  backface-visibility: hidden;
  opacity: 1;
  /* animation: logoMonkey1 5.5s cubic-bezier( 0, 0, 0.5, 1) 4.5s 1 forwards; */
}

.logo-monkey-frames{
  animation: logoMonkey1 5.5s cubic-bezier( 0, 0, 0.5, 1) 4.5s 1 forwards;
}

@keyframes logoMonkey1 {
  0%{
    rotate:170deg;
  }

  50%{
    rotate:0deg;
  }

  100%{
    rotate:0deg;
  }
}

.monkey-ear-l{
  translate: 12% 0;
  /* animation: monkeyEarL 5.5s cubic-bezier( 0, 0, 0.5, 1) 4.5s 1 forwards; */
}

.monkey-ear-l-frames{
  animation: monkeyEarL 5.5s cubic-bezier( 0, 0, 0.5, 1) 4.5s 1 forwards;
}

.monkey-ear-r{
  translate: -12% 0;
  /* animation: monkeyEarR 5.5s cubic-bezier( 0, 0, 0.5, 1) 4.5s 1 forwards; */
}

.monkey-ear-r-frames{
  animation: monkeyEarR 5.5s cubic-bezier( 0, 0, 0.5, 1) 4.5s 1 forwards;
}

@keyframes monkeyEarR {
  60%{
    translate: -12% 0;
  }

  70%{
    translate: 0% 0;
  }

  100%{
    translate: 0% 0;
  }
}

@keyframes monkeyEarL {
  60%{
    translate: 12% 0;
  }

  70%{
    translate: 0% 0;
  }

  100%{
    translate: 0% 0;
  }
}

.logo-material{
  rotate:0deg;
  opacity: 1;
}

.logo-cap{
  translate: -12% -10%;
  opacity: 1;
}

.logo-div{
  width:8.9vh;
  height:8.9vh;
  translate: -100% 0;
  animation: logoDiv 10s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

/* .logo-div-frames{
  animation: logoDiv 10s cubic-bezier(0.8, 0, 0.2, 1) infinite;
} */

@keyframes logoDiv {
  95%{
    scale: 1;
    opacity: 1;
  }

  100%{
    scale: 0;
    opacity: 0;
  }
}

.logo-div-bg{
  position: absolute;
  top:6.95vh;
  left:15vw;
  width:71vw;
  height:6vh;
  /* translate: calc(-100% - 15vw) -10%; */
  translate: 0 0%;
  background-color: #fff;
  animation: logoBG 10s cubic-bezier( 0, 0, 0.5, 1) infinite;
}

@keyframes logoBG {
  0%{
    translate: calc(-100% - 16vw) -10%;
  }

  36%{
    translate: calc(-100% - 16vw) -10%;
  }

  40%{
    translate: 0 -10%;
  }

  96%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}

/* ---- Hamburger ---- */


.hamburger-screen{
  position: absolute;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  background-color: #000;
  pointer-events: none;
  /* z-index: 100; */
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.8vh;
  font-weight: 500;
  opacity: 0;
  scale: 0.5;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.hamburger-screen *{
  pointer-events: none;
}

.hamburger-screen-target{
  opacity: 1;
  scale: 1;
  pointer-events: auto;
}

.hamburger-screen-target *{
  pointer-events: auto;
}

.ham-line{
  height: 3px;
  width: 10vw;
  background-color: #fff;
  opacity: 0.3;
  margin: 2vh 0;
  position: relative;
  left:50%;
  translate: -50% 0;
}

.ham-close{
  position: absolute;
  top:5vh;
  right:30px;
  width: 3vh;
  height: 3vh;
  /* translate: 0 50%; */
}

.ham-close-icon-1{
  position: absolute;
  top:50%;
  left:50%;
  height: 3px;
  width: 3vh;
  background-color: #fff;
  rotate: 45deg;
  translate: -50% -50%;
}

.ham-close-icon-2{
  position: absolute;
  top:50%;
  left:50%;
  height: 3px;
  width: 3vh;
  background-color: #fff;
  rotate: -45deg;
  translate: -50% -50%;
}

/* Login Form */

.home-screen-v2{
  height: 86vh;
}

.home-screen-v2 .home-screen-anim{
  top:7vh;
}

.welcome-1-2{
  translate: 0 -1vh;
}

.log-in{
  margin-top: 4vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in-container{
  width:100%;
  padding: 0 30px;
}

.log-in-text{
  font-weight: 700;
  font-size: 2.25vh;
  opacity: 0.4;
}

.log-in-input{
  margin-top: 0.1vh;
  height:4vh;
  width:100%;
  margin-bottom: 2vh;
  border-radius: 0.8vh;
  border: 0.4vh solid #000;
  padding: 0 2vw;
}

.log-in-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log-in-btn{
  width:45%;
  height:5vh;
  border-radius: 0.8vh;
  border: 0.4vh solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2vh;
  font-weight: 700;
}

.log-in-btn-special{
  background-color: #000;
  color: #fff;
  font-weight: 500;
}

.monkey-div *{
  animation-name: none;
}

.monkey-div{
  /* position: absolute; */
  /* bottom: 0; */
  scale: 1;
  translate: 0 50vh;
}

/* ----- Mobile detector ----- */

.mobile-detector{
  position: absolute;
  width: 100%;
  height:100vh;
  top:0;
  left:0;
  background-color: #000;
  color: #fff;
  font-size: calc(2vh + 2vw);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  pointer-events: none;
  opacity: 0;
  padding: 0 15%;
}

@media (min-aspect-ratio: 4.5/7) {
  /* *{
    border: 1px solid red !important;
  } */

  .mobile-detector{
    pointer-events: auto;
    opacity: 1;
  }

}